@import '../../vars';

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text_input {
  background-color: var(--bg4);
}

.img_input {
  margin-bottom: 0;
}

.crop {
  width: 80vw;

  @media (width > $screen-md) {
    width: auto;
    height: 50vh;
  }
}