@import '../../vars';

.main {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.editor {
  padding: 1rem;

  background-color: var(--bg4);
  overflow-y: auto;

  &__filters {
    margin-top: 1rem;
    padding-block: .5rem;

    background-color: var(--bg1);
    border-radius: $br;
  }

  &__save_btn {
    @include largeBtn();
    margin-top: .7rem;
  }
}