@import '../../vars';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--bg2)
}

.container {
  @include autoMargin(300px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  background-color: var(--bg4);
}

.login_btn {
  @include largeBtn();
}