@import './vars';

:root {
  --text-color: #161A30;
  --muted: #8D8D8D;

  --white: white;
  --primary: #fe7b24;
  --green: rgb(123, 211, 0);
  --red: #D32525;
  --yellow: #d3ca25;

  --bg1: white;
  --bg2: white;
  --bg3: #f1f1f0;
  --bg4: #D9D9D9;

  --shadow-c: rgba(0, 0, 0, .45);

  --br: .37rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --muted: #8D8D8D;

    --bg1: rgb(21, 21, 21);
    --bg2: #242424;
    --bg3: rgb(41, 41, 41);
    --bg4: #3c3c3c;
  }
}

* {
  box-sizing: border-box;

  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 10px;
    background: var(--bg4);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0px;
  color: var(--text-color);
  background-color: var(--bg1);

  height: 100lvh;
  // fallback
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  scrollbar-gutter: stable;
}

h1 {
  color: var(--primary);
  margin-block: 0rem;
  font-size: 2rem;
  font-family: 'Exo 2', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
[role="button"] {
  display: block;

  transition: filter 200ms;
  &:hover {
    filter: brightness(.8);
  }

  &:disabled {
    filter: brightness(.7) !important;
    pointer-events: none;
  }
}

input,
textarea {
  color: var(--text-color);
  background-color: var(--bg1);
}

input,
textarea,
button {
  border: none;
  outline: none;
  border-radius: var(--br);
  padding: .5rem .7rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;

  +input[type="text"],
  +input[type="email"],
  +input[type="password"],
  +input[type="number"],
  +textarea {
    width: 100%;
    margin-top: .5rem;
  }
}