@import './vars';

.search_section {
  @include autoMargin();
  min-height: 50vh;
  display: flex;
  align-items: center;
}

.products {
  @include autoMargin();
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 3rem 4rem;

  &__title {
    margin: 0;
    font-size: 1.25rem;
    color: var(--primary);

    @media (width > $screen-md) {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &__container {
    margin: 0;
    padding: .6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .3rem;

    list-style: none;
    
    background-color: var(--bg3);
    border-radius: var(--br);
  }
}