@import '../vars';

.header {
  z-index: 1;
}

.nav {
  $link-height: 1.5rem;
  $links-padding-bottom: .3rem;
  $admin-btn-height: 3rem;
  $admin-btn-mb: .5rem;

  background-color: var(--bg2);
  box-shadow: 0 0 .5rem 0 $shadow-c;

  &__primary_link {
    &:hover {
      text-decoration: none;
    }

    h1 {
      display: inline-flex;
      align-items: center;
      gap: .7rem;
    }
  }

  &__content {
    @include autoMargin(1100px);
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__collapsible {
    display: flex;

    @media (width < ($screen-md + 2)) {
      // el display se controla desde javascript
      grid-auto-flow: row;
      width: 100%;
      overflow: hidden;
      padding-block: 0;
      margin-block: 0;
      opacity: 0;
      height: 0rem;
      transition: height 400ms, opacity 400ms;

      &[data-state="opening"],
      &[data-state="opened"] {
        opacity: 1;
        height: ($link-height * 3) + $links-padding-bottom + $admin-btn-height + ($admin-btn-mb * 2);
      }

      &[data-state="closed"] {
        display: none;
      }
    }
  }

  &__links_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-bottom: $links-padding-bottom;
    padding-inline: 0;
    margin: 0;

    @media (width > $screen-md) {
      min-width: 25rem;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
    }

    li {
      height: $link-height;
      display: flex;
      align-items: center;

      a {
        font-size: 1.3rem;
        font-weight: 700;
        font-variant-caps: all-small-caps;
        color: $muted;
        transition: color 200ms;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  &__admin_mode_btn {
    @include largeBtn();
    height: $admin-btn-height;
    margin-block: $admin-btn-mb;
    text-align: center;

    @media (width > $screen-md) {
      height: auto;
      padding-block: .3rem;
      margin-block: .3rem;
    }
  }

  &__menu_btn {
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: $primary;

    @media (width > $screen-md) {
      display: none;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

}

.hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}