@import '../vars';

.img_input {
  position: relative;

  &__btn {
    @include largeBtn(var(--green));
    text-align: center;
    margin-top: 0;
  }

  &__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
  }
}

.error_message {
  margin-bottom: .5rem;

  color: var(--red);

  font-weight: bold;
}