@import '../vars';

.section {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
  gap: 1rem;
  padding-block: 1rem;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}