@import '../vars';

.prod_group {
  position: relative;
  
  background-color: var(--bg4);
  border-radius: $br;
  overflow: hidden;


  transform: scale(0.97);
  filter: brightness(.6);
  transition: transform 200ms, filter 200ms;
  &:hover {
    transform: scale(1.03);
    filter: brightness(1);
  }


  &__container {
    display: flex;
    margin-bottom: 0;

    &:hover {
      text-decoration: none;
    }
  }

  &__name {
    position: absolute;
    inset: .4rem;
    top: auto;

    margin: 0;
    padding: .2rem .5rem;

    background-color: $primary;
    color: $white;
    border-radius: $br;
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
  }
}