@import '../vars';

.search {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .25rem;
  overflow: hidden;

  background-color: var(--bg1);
  border-radius: 2rem;
  border: 1px solid $primary;
  box-shadow: 0 .1rem .5rem $shadow-c;

  &__input {
    width: 100%;
    padding: 0 .4rem;

    font-size: 1.1rem;
  }

  &__btn {
    height: 1.9rem;
    width: 1.9rem;
    
    padding: .4rem;

    background-color: $primary;
    color: $white;
    border-radius: 100%;
  }
}
