@import '../../vars';

.mm {
  &__message {
    margin-bottom: .7rem;
  }

  &__btn {
    margin-left: auto;

    color: $white;

    &[data-theme="blue"] {
      background-color: $primary;
    }

    &[data-theme="green"] {
      background-color: $green;
    }

    &[data-theme="red"] {
      background-color: $red;
    }

    &[data-theme="yellow"] {
      background-color: $yellow;
    }
  }
}