@import '../../../vars';

.filter_group {
  border: none;

  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: .3rem;

    border-bottom: 1px solid var(--text-color);

    font-weight: bold;
  }

  &__add_btn {
    @include tag($green);
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__option {
    @include tag($muted);
    margin: 0;

    &:has(input:checked) {
      background-color: $primary
    }

    &:hover {
      box-shadow: 0 0 7px $primary;
      background-color: $primary;
    }

    input {
      display: none;
    }
  }
}

.common_properties {
  @extend .filter_group;
  margin-top: 1rem;

  &--no_padding {
    @extend .common_properties;
    padding: 0;
  }

  &__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    font-weight: bold;
    font-size: 1.2rem;
  }

  &__container {
    border: 1px solid $primary;
    border-radius: $br;
  }
}

.error {
  margin-inline: .5rem;
  margin-bottom: .5rem;
  width: auto;

  &:last-child {
    margin-bottom: 0;
  }
}