@import '../vars';

.crop_img {
  &__img {
    width: 80vw;

    @media (width > $screen-md) {
      width: auto;
      height: 70vh;
    }
  }

  &__save_btn {
    @include largeBtn();
    float: right;
    margin-top: 1rem;
  }
}