@import '../vars';

.main {
  display: grid;

  @media (width > $screen-sm) {
    grid-template-columns: clamp(16rem, 24vw, 22rem) 1fr;
  }
}

.principal_view {
  @include autoMargin(1300px);
  display: grid;
  grid-template-rows: auto 1fr;

  &[data-mode-admin="true"] {
    grid-template-rows: auto auto 1fr;
  }
}

.search {
  margin-block: 2rem;
}

.add_product_btn {
  @include largeBtn(var(--green));
  text-align: center;
}