@import '../vars';

.principal_view {
  @include autoMargin(1300px);
  display: grid;
  grid-template-rows: auto 1fr;

  &[data-mode-admin="true"] {
    grid-template-rows: auto auto 1fr;
  }
}

.search {
  margin-block: 2rem;
}

.add_product_btn {
  @include largeBtn($green);
  text-align: center;
}